// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss ,only before @import bootstrap variables!"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
@import 'fonts';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'reset';

//@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';
//@import '../../node_modules/bootstrap/scss/variables';

/* input-placeholder */
input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input::-ms-clear {
  display: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

body {
  min-width: 320px;
  height: 100%;
  font-size: 15px;
  line-height: 1.3;
  background-color: #fff;
  color: #000;
  font-family: 'Circe-Regular', sans-serif;
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

$blue-color: #228cdd;
$red-color: #f44336;
$grey-color: #eef3f5;

.container-fluid {
  max-width: 1920px;
  padding-left: 0;
  padding-right: 0;
}

img, svg {
  display: block;
}

b, strong {
  font-family: 'Circe-Bold', sans-serif;
}

h2 {
  font-size: 40px;
  line-height: 44px;
  font-family: 'Circe-Bold', sans-serif;
  margin-bottom: 30px;
  text-align: center;
}

.first-screen {
  background: url(../img/first-screen-bg.jpg) no-repeat center center;
  min-height: 480px;
  height: 100vh;
  position: relative;
}

header {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #fff;
}

address {
  text-align: right;
  p {
    margin: 0;
    white-space: nowrap;
    line-height: 24px;
  }
}

.logo {
  display: block;
  max-width: 186px;
  img {
    width: 100%;
  }
}

.first-screen__container {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  li {
    padding: 0 30px;
    a {
      font-size: 15px;
      line-height: 16px;
      font-family: 'Circe-Bold', sans-serif;
      text-transform: uppercase;
      position: relative;
      white-space: nowrap;
      &:before {
        content: '';
        display: inline-block;
        width: 0;
        max-width: 100%;
        height: 1px;
        justify-content: 1;
        background: #fff;
        position: absolute;
        left: 0;
        bottom: -10px;
        z-index: 1;
        transition: all .3s;
      }
    }
    &.active {
      a {
        &:before {
          width: 100%;
        }
      }
    }
    &:hover {
      a {
        &:before {
          width: 100%;
        }
      }
    }
  }
}

.main-menu__mobile-btn {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  span {
    display: inline-flex;
    width: 36px;
    height: 4px;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 1699px) {
  .main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      padding: 0 10px;
    }
  }
}

@media screen and (max-width: 1399px) {
  .header__wrapper {
    flex-wrap: wrap;
    .logo {
      margin-right: auto;
      order: 1;
    }
    nav {
      width: 100%;
      order: 3;
      margin-top: 30px;
    }
    address {
      margin-left: auto;
      order: 2;
    }
  }
  .main-menu {
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {

  .main-menu__mobile-btn {
    display: inline-flex;
    margin-left: auto;
    order: 2;
  }
  .main-menu {
    position: absolute;
    top: 150%;
    right: 0;
    display: block;
    background: $blue-color;
    padding: 30px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    li {
      margin-bottom: 10px;
      a {
        &:before {
          display: none;
        }
      }
    }
  }

  .header__wrapper {
    flex-wrap: nowrap;
    .logo {
      order: 1;
    }
    nav {
      order: 3;
      width: auto;
      margin: 0;
      position: relative;
      min-height: 38px;
    }
    address {
      order: 4;
      margin-left: 30px;
    }
  }
  body.show-main-menu {
    .main-menu {
      z-index: 1;
      opacity: 1;
      visibility: visible;
      top: 100%;
    }
    .main-menu__mobile-btn {
      position: relative;
      width: 46px;
      height: 37px;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: center center;
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(1) {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:nth-child(3) {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .header__wrapper {
    address {
      display: none;
    }
  }
}

.first-screen__search-form {
  max-width: 640px;
  height: 52px;
  background: rgba(255, 255, 255, .18);
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.first-screen__search-input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
  -webkit-appearance: none;
  &::-webkit-input-placeholder {
    color: #fff;
  }
  &::-moz-placeholder {
    color: #fff;
  }
  &:-moz-placeholder {
    color: #fff;
  }
  &:-ms-input-placeholder {
    color: #fff;
  }
}

.first-screen__search-btn {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 20px;
  width: 20px;
  height: 23px;
  font-size: 0;
  background: transparent;
  background: url(../img/sprite.png) no-repeat 0 0;
}

.info-col {
  position: absolute;
  color: #fff;
  font-family: 'Circe-Light', sans-serif;
  padding-left: 35px;
  padding-top: 15px;
  top: 19%;
  &:before {
    content: '';
    display: inline-block;
    width: 1px;
    background: rgba(255, 255, 255, .3);
    position: absolute;
    top: 0;
    left: 0;
  }
  &.col1 {
    left: 15.5%;
    &:before {
      height: 37vh;
    }
  }
  &.col2 {
    left: 55.5%;
    &.d-flex {
      padding-left: 0;
      padding-right: 35px;
      .info-col__text {
        line-height: 44px;
        padding-left: 5px;
      }
    }
    &:before {
      left: auto;
      right: 0;
      height: 17vh;
    }
  }
  &.col3 {
    left: 75.5%;
    padding-left: 0;
    padding-right: 35px;
    &:before {
      left: auto;
      right: 0;
      height: 36vh;
    }
  }
}

.info-col__count {
  font-size: 40px;
  line-height: 34px;
  margin-bottom: 5px;
  span {
    font-size: 22px;
    vertical-align: super;
  }
}

.info-col__text {
  font-family: 'Circe-Thin', sans-serif;
  font-size: 20px;
  line-height: 28px;
}

@media screen and (max-width: 1699px) {
  .info-col.col1:before {
    height: 32vh;
  }
  .info-col.col2:before {
    height: 15vh;
  }
  .info-col.col3:before {
    height: 33vh;
  }
}

@media screen and (max-width: 1399px) {
  .info-col__wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 30px;
  }
  .info-col {
    position: static;
    margin: 0 15px;
    background: rgba(255, 255, 255, .2);
    height: auto;
    .info-col__text {
      font-family: 'Circe-Light', sans-serif;
    }
    &.col1, &.col2, &.col3, &.d-flex, &.col2.d-flex {
      padding: 15px;
    }
    &:before {
      display: none;
    }
  }
}

@media screen and (max-width: 575px) {
  .info-col__wrapper {
    display: block;
  }
  .info-col {
    &.col1, &.col2, &.col3, &.d-flex, &.col2.d-flex {
      display: flex;
      .info-col__text {
        padding-left: 30px;
        br {
          display: none;
        }
      }
    }
    .info-col__count {
      font-size: 34px;
    }
  }
}

.first-screen__scroll-down {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  cursor: pointer;
  svg {
    display: block;
    width: 26px;
    height: 26px;
    fill: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .scroll-down__text {
    font-size: 15px;
    line-height: 16px;
  }
}

.section-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.benefits__container {
  max-width: 1430px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.product-item {
  text-align: left;
  font-size: 20px;
  line-height: 22px;
  font-family: 'Circe-Light', sans-serif;
  margin-top: 25px;
  margin-bottom: 25px;
  .product__img-wrapper {
    max-height: 182px;
    min-height: 182px;
    margin-bottom: 10px;
    overflow: hidden;
    img {
      margin: 0 auto;
      max-width: 100%;
    }
  }
  .product-item__name {
    min-height: 44px;
    margin-bottom: 10px;
  }
  .product-item__price {
    font-family: 'Circe-Bold', sans-serif;
    margin-bottom: 10px;
  }
  .product__shop-logo {
    height: 30px;
    margin-bottom: 15px;
    img {
      max-width: 100%;
    }
  }
  .product__link {
    color: $blue-color;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .product-item {
    max-width: 200px;
    margin: 15px auto;
    padding-bottom: 15px;
  }
}

.btn {
  font-size: 20px;
  line-height: 20px;
  border: none;
  border-radius: 0;
  padding: 15px 18px;
  &.transparent-btn {
    background: transparent;
    border: 1px solid $red-color;
    color: $red-color;
    &:hover {
      background: lighten($red-color, 40%);
    }
  }
}

section {
  .btn-group {
    margin-top: 50px;
  }
}

.grey-section {
  background: $grey-color;
}

.promotions__container {
  max-width: 1330px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.promotions__items-wrapper {
  display: flex;
  margin: 0 -10px;
  .promotions__item {
    margin: 10px;
  }
}

.promotions__item {
  cursor: pointer;
  color: #000;
  font-size: 20px;
  line-height: 24px;
  width: 100%;
  height: 230px;
  padding: 30px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  .promotions__item-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-position: 90% 30%;
  }
  &.item-xs {
    max-width: 310px;
  }
  &.item-sm {
    max-width: 420px;
  }
  &.item-md {
    max-width: 530px;
  }
  &.promo-light {
    .promotions__item-bg {
      background: url(../img/promo-light-bg.png) no-repeat 86% 45%;
    }
  }
  &.promo-home {
    .promotions__item-bg {
      background: url(../img/promo-home-bg.png) no-repeat 93% 52%;
    }
    &:before {
      background: linear-gradient(to right, rgba(255,215,175,1) 0%,rgba(248,188,127,1) 100%);
    }
  }

  &.promo1 {
    .promotions__item-bg {
      background: url(../img/promo1-bg.png) no-repeat 137% 46%;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: -1;
  }
  .promotions__item-link {
    display: inline-block;
    width: auto;
    font-family: 'Circe-Light', sans-serif;
    text-decoration: underline;
  }
  b {
    display: block;
  }
  .promotions__item-content {
    position: relative;
    z-index: 2;
  }
  .promotions__item-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 200px;
    background: rgba(255, 255, 255, .3);
    transform: scale(0);
    transition: all .3s;
  }
  &:hover {
    .promotions__item-hover {
      -webkit-animation: blocktap 1s ease-out;
      -o-animation: blocktap 1s ease-out;
      animation: blocktap 1s ease-out;
    }
  }
}

@keyframes blocktap {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  70% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  98% {
    opacity: 0;
  }
  99% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
  }
}